{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% endblock %}

</head>
<body>

    {% include 'navbar.html' %}

    {% include 'tagnav.html' %}


    {% block content %}

        {{ block.super }}


            <div class="container">

                <div class="row">

                    <br>

                    <h2> Picky </h2>

                    <br>

                    <p> Beautiful, free photos. </p>

                    <p> Gifted by the world's most generous community of photographers. </p>

                    <br>

                    <button type="button" class="btn btn-default"> Submit a photo </button>

                </div>


                {% for post in posts %}

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                        <a href="{% url 'post' post.id %}" class="pop" data-popup-open="popup-1">

                            <img src="{{ post.image.url }}" class="img-responsive" alt="Image" data-popup-open="popup-1">

                        </a>

                    </div>

                {% empty %}

                    <h2 class="text-center"> There are no posts </h2>

                {% endfor %}


                    <div class="popup" data-popup="popup-1">

                        <div class="popup-inner">

                            <h1>hi </h1>

                            {% if post.image %}

                                <a href="{% url 'post' post.id %}" class="pop" data-popup-open="popup-1">

                                    <img src="{{ post.image.url }}" class="img-responsive" alt="Image" >

                                </a>

                            {% endif %}

                            <p data-popup-close="popup-1"> <a href="{% url 'index' %}"> Close </a> </p>

                            <a class="popup-close" data-popup-close="popup-1" href="{% url 'index' %}"> X </a>

                        </div>

                    </div>


            </div>

    {% endblock %}


    {% block scripts %}

        {{block.super}}

            <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>

    {% endblock %}

</body>
</html>

 <!--{% for posts_item in posts %}-->

                    <!--<div class="photo-div">-->

                        <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="posts" style="margin-top: 30px;">-->

                            <!--<a href="{% url 'post' posts_item.id %}" onload="window.focus(); return false;">-->

                                <!--<img src="{{ posts_item.image.url }}" class="img-responsive" alt="Image">-->

                            <!--</a>-->

                        <!--</div>-->

                    <!--</div>-->

                    <!--{% empty %}-->

                        <!--<h2 class="text-center"> There Are No Posts </h2>-->

                    <!--{% endfor %}-->