{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    {% endblock %}

</head>
<body>


    <nav class="navbar navbar-inverse" id="nav">

        <div class="container-fluid">

            <div class="navbar-header">

                <a class="navbar-brand" href="{% url 'index' %}"><i class="glyphicon glyphicon-camera"></i></a>

            </div>

            <div class="row">

                <div class="col-md-4">

                    <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                    <div class="input-group">

                        <div class="input-group-btn">

                            <button class="btn btn-default" type="submit" id="search">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>

                        </div>

                        <input type="text" class="form-control" placeholder="Search for a Tag" name="tag">

                    </div>

                </form>

                </div>

                <div class="col-md-6" id="right">

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="{% url 'index' %}">Home </a>
                        </li>

                        <li>
                            <a href="{% url 'collections' %}">Collections</a>
                        </li>

                        <li>
                            <a href="{% url 'explore' %}">Explore</a>
                        </li>

                        <li style="border-right: 1px solid lightgrey;">
                            <a href="{% url 'about' %}">About</a>
                        </li>

                        <li>
                            <a href="{% url 'index' %}">Login</a>
                        </li>

                        <li>
                            <a href="{% url 'index' %}">Join free</a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </nav>

</body>
</html>