{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}

        {% bootstrap_css %}

    {% endblock %}


</head>
<body>


    {% include 'navbar.html' %}


    {% block content %}

        <div class="container-fluid">

            {% for tags_item in tags %}

                <button type="button" class="btn btn-default"> {{ tags_item.name }} </button>

            {% endfor %}

        </div>

    {% endblock %}


    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        {% bootstrap_javascript %}

    {% endblock %}

</body>
</html>