{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% endblock %}

</head>
<body>

    {% include 'navbar.html' %}

    {% block content %}

        {{ block.super }}

            <div class="container">

                <div class="row">

                    <h2> Picky </h2>

                    <p> Beautiful, free photos. </p>

                    <p> Gifted by the world's most generous community of photographers. </p>

                    <button type="button" class="btn btn-default"> Submit a photo </button>

                </div>


                {% for posts_item in posts %}

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="posts" style="margin-top: 30px;">

                        <a href="{% url 'post' posts_item.id %}"><img src="{{ posts_item.image.url }}" class="img-responsive" alt="Image"></a>

                    </div>

                {% empty %}

                    <h2 class="text-center"> There Are No Posts </h2>

                {% endfor %}

            </div>

    {% endblock %}

</body>
</html>