#nav {
  background-color:white;
  color: black;
  border: white;
}
#nav a {
  color: black;
}

#right {

  float: right;

}

.form-control {

  border-radius: 20px;
  width: 100%;

}

#search {

  border-radius: 20px;
  border-right: none;

}